:root {
  --label-gap: .2em;
  --leaf-background: initial;

}

/* reset */
.data-node,
.data-node * {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

body {
  min-width: 250px;
}

.data-node {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  text-indent: 0;
  list-style: none;

  border: 1px solid #ccc;
  margin: 1em;
}

.data-node h1,
.data-node h2,
.data-node h3,
.data-node h4,
.data-node h5,
.data-node h6 {
  margin: .2em;
  width: 100%;
}

.data-leaf {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .4em;

  background: var(--leaf-background);
  text-indent: 0;

  min-width: min-content;
  max-width: max-content;
}

.data-leaf>label {
  height: max-content;
  text-align: center;
  margin: 0 var(--label-gap) 0 0;
}

@media only screen and (max-width: 600px) {
  .data-leaf {
    flex-direction: column;
  }

  .data-leaf>label {
    margin: 0 0 var(--label-gap) 0;
  }
}