:root {
  --label-gap: .2em;
  --leaf-background: initial;

  --bg-light-1: rgb(253, 241, 241);
  --fg-light-1: rgb(17, 0, 0);
  --borders-light-1: #ccc;
  --bg-light-input: #eee;
  --fg-light-input: black;

  --border-light-input: 5px solid #ccc;
  --outline-light-input: 5px solid black;

  --bg-dark-1: #222;
  --fg-dark-1: #eee;
  --bg_dark_input: #000;
  --fg-dark-input: #eee;
  --outline-dark-input: 5px solid #666;
  --borders-dark-1: #444;

  --border-dark-input: 5px solid #222;
  --outline-dark-input: 5px solid #666; 

  --input-border-radius: .2em;
  --node-border-radius: .6em;
}

/* reset */
.data-node,
.data-node * {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

body {
  min-width: 250px;
  background: var(--bg-light-1);
  color: var(--fg-light-1);
}

.data-node {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  text-indent: 0;
  list-style: none;

  border: 1px solid var(--borders-light-1);
  border-radius: var(--node-border-radius);
  margin: 1em;
}

.data-node h1,
.data-node h2,
.data-node h3,
.data-node h4,
.data-node h5,
.data-node h6 {
  margin: .2em;
  width: 100%;
}

.data-leaf {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .4em;

  background: var(--leaf-background);
  text-indent: 0;

  min-width: min-content;
  max-width: max-content;
}

.data-leaf>label {
  height: max-content;
  text-align: center;
  margin: 0 var(--label-gap) 0 0;
}

.data-leaf>input {
  background: var(--bg-light-input);
  color: var(--fg-light-input);
  padding: .6em;

  border-radius: var(--input-border-radius);
  border: var(--border-light-input);
  outline: none;
}

.data-leaf>input:focus {
  border: var(--outline-light-input);
}

@media only screen and (max-width: 600px) {
  .data-leaf {
    flex-direction: column;
  }

  .data-leaf>label {
    margin: 0 0 var(--label-gap) 0;
  }
}

@media ( prefers-color-scheme: dark ) {
	body {
    background: var(--bg-dark-1);
    color: var(--fg-dark-1);
	}
  
  .data-node {
    border: 1px solid var(--borders-dark-1);
  }
  
  .data-leaf>input {
    background: var(--bg_dark_input);
    color: var(--fg-dark-input);
    border: var(--border-dark-input);
  }

  .data-leaf>input:focus {
    border: var(--outline-dark-input);
  }
}